# Ignore patterns
*.pyc
*.swp

# xcode noise
build
*.pbxuser
*.mode1v3
*.mode2v3
!default.pbxuser
!default.mode1v3
!default.mode2v3
xcuserdata
*.perspective
*.perspectivev3

*~.nib
*~.xib

# old skool
.svn

# osx noise
.DS_Store
profile

*.xcworkspace